@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p> Welcome to your new app.<br /> @message</p>
<Counter IncrementAmount="10"/>
@code {
    string message = "This is the home page of your Blazor application.";
}